:root{
    --result-columns: 2;
}

.ListOfGifs{
    column-count: var(--result-columns);
    column-gap: .4em;
}

.ListOfGifs-items
{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #eee;
    display: inline-block;
    width: 100%;
}